.menu-bar {
  height: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--app-screen-header);
  box-shadow: -0.1rem 0.13rem 0.2rem 0.05rem var(--shadow);
}

.menu-bar .btn {
  margin: 0;
  padding: 2px 12px 0px 12px;
  font-size: 1.1rem;
  border-radius: 0;
  color: var(--icon-color);
  border-bottom: 3px solid var(--app-screen-header);
  cursor: pointer;
}

.friend-name {
  padding: 0;
  margin: 0;
  margin-right: auto;
}
.friend-name p {
  font-size: 18px;
  margin: 0;
  padding: 0 0 0 10%;
}

.friend-name p:hover {
  color: var(--hover);
}
.menu-bar .btn:focus {
  cursor: pointer;
}
.menu-bar .btn:hover {
  color: var(--icon-color);
  border-bottom: 3px solid var(--icon-color);
  box-shadow: -0.04rem 0.1rem 0.09rem 0.07rem var(--shadow);
}
