@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.full-screen {
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 13px;

  background-color: #00bfff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.chat-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 50%;
  height: 90%;
  box-shadow: 0.01rem 0.01rem 0.01rem 0.1rem rgb(104, 102, 102);
}

@media screen and (max-width: 600px) {
  .chat-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 90%;
    box-shadow: 0.01rem 0.01rem 0.01rem 0.1rem rgb(104, 102, 102);
  }
}

.optional {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(25, 25, 26);
}

.optional .btn {
  border: none;
  padding: 0;
}

.optional i {
  font-size: 1.5rem;
  margin: 1rem;
  color: #00bfff;
  cursor: pointer;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(25, 25, 26);
  overflow: auto;
  flex-grow: 2;
}
