.chat-screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(25, 25, 26);
  overflow-x: hidden;
  flex-grow: 2;
}

::-webkit-scrollbar {
  width: 1%;
}

::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00bfff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
