.Cover {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Cover .Registerbtn {
  align-self: flex-end;
  margin: 5px;
  padding: 2px 12px 2px 12px;
  border: 0.5px solid var(--color1);
  border-radius: 7px;
  background-color: var(--color2);
  color: var(--color3);
}

.Cover .Registerbtn:hover {
  color: var(--color2);
  background-color: var(--color3);
}

.Form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
