.Cover {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Cover .Registerbtn {
  align-self: flex-end;
  margin: 5px;
  padding: 2px 12px 2px 12px;
  border: none;
  background-color: var(--input-color);
  box-shadow: 0.001rem 0.09rem 0.15rem 0px var(--shadow);
  border-radius: 4px;
  color: var(--font-color-button);
}

.Cover .Registerbtn:hover {
  color: var(--app-screen);
  background-color: var(--button-hover);
}

.Form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
