.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form input {
  margin: 3px;
  padding: 3px;
  border: 0.5px solid var(--border-fixed);
  border-radius: 7px;
  width: 40%;
  color: var(--font-color);
  background-color: var(--app-screen);
  transition: all 500ms ease;
}

.form input:focus {
  background-color: var(--app-screen);
  width: 70%;
  outline: none;
}

.form .btn {
  margin: 5px;
  padding: 2px 12px 2px 12px;
  border: 0.5px solid var(--border-fixed);
  border-radius: 7px;
  color: var(--font-color);
}

.form .btn:hover {
  color: var(--app-screen);
  background-color: var(--hover);
}

.form .true {
  border: 0.5px solid var(--error);
  border-radius: 7px;
  background-color: var(--app-screen);
}

.form .pro-pic {
  width: 7rem;
  height: 7rem;
  border: 1.5px solid var(--border);
  border-radius: 50%;
}

.form .error {
  border: 2px solid var(--error);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  color: var(--error);
}

.spinner {
  color: yellowgreen;
}
