.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form input {
  margin: 3px;
  padding: 3px;
  border: 0.5px solid #00bfff;
  border-radius: 7px;
  background-color: rgb(25, 25, 26);
  color: #00bfff;
}

.form input:focus {
  width: 80%;
}

.form .btn {
  margin: 5px;
  padding: 2px 12px 2px 12px;
  border: 0.5px solid #00bfff;
  border-radius: 7px;
  background-color: rgb(25, 25, 26);
  color: #00bfff;
}

.form .btn:hover {
  color: rgb(25, 25, 26);
  background-color: #00bfff;
}

.form .true {
  border: 0.5px solid red;
  border-radius: 7px;
  background-color: rgb(25, 25, 26);
}

.form .pro-pic {
  width: 7rem;
  height: 7rem;
  border: 1.5px solid #00bfff;
  border-radius: 50%;
}
