.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form input {
  margin: 3px;
  padding: 3px;
  border: 0.5px solid var(--color1);
  border-radius: 7px;
  width: 40%;
  color: var(--color3);
  background-color: var(--color2);
  transition: all 500ms ease;
}

.form input:focus {
  background-color: var(--color2);
  width: 70%;
  outline: none;
}

.form .btn {
  margin: 5px;
  padding: 2px 12px 2px 12px;
  border: 0.5px solid var(--color1);
  border-radius: 7px;
  color: var(--color3);
}

.form .btn:hover {
  color: var(--color2);
  background-color: var(--color3);
}

.form .true {
  border: 0.5px solid red;
  border-radius: 7px;
  background-color: var(--color2);
}

.form .pro-pic {
  width: 7rem;
  height: 7rem;
  border: 1.5px solid var(--color1);
  border-radius: 50%;
}
