.user-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-box .header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 1.5rem;
  background-color: var(--header);
  border-bottom: 1px solid var(--line);
  /* box-shadow: 0 1px 1px 0 var(--font-color); */
}

.user-box .header .me img {
  width: 5.5rem;
  height: 5.5rem;
  border: 1px solid var(--img-border);
  border-radius: 50%;
}

.user-box .header .me {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user-box .header .find-friend {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  color: var(--highlight);
  border: 1px solid var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 500ms ease;
}

.header-control {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.log-out {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  color: var(--highlight);
  border: 1px solid var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
}
.log-out:hover {
  cursor: pointer;
  border: 1px solid var(--hover);
}
.user-box .header .find-friend:hover {
  cursor: pointer;
  border: 1px solid var(--hover);
  transform: rotate(360deg);
}

.user-box ul {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 90%;
}

.user-box ul li {
  width: 100%;
  list-style-type: none;
  border-left: 0.2rem solid var(--border);
  /* border-bottom: 0.1px solid var(--color1); */
}

.user-box ul li .list {
  display: flex;
  align-self: flex-start;
  border: none;
  margin: 1px;
}

.user-box ul li:hover {
  cursor: pointer;
  border-left: 0.2rem solid var(--hover);
  background-color: var(--header);
}

.user-box ul li:focus {
  outline: none;
}
.avatar {
  display: flex;
  margin: auto 0;
  padding: 0.5rem;
  position: relative;
}

.avatar img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.avatar .active {
  border: 1px solid var(--border);
}

.avatar .online,
.offline {
  width: 0.7rem;
  height: 0.7rem;
  background-color: var(--active);
  border-radius: 50%;
  position: absolute;
  left: 3.5rem;
}

.avatar .offline {
  background-color: var(--in-active);
}

.users-list {
  width: 100%;
  overflow: hidden;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.username {
  color: var(--header-font-color);
  margin: 0;
  padding: 0;
}

.text {
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.7rem;
  font-style: italic;
  color: var(--font-color);
  margin: auto 0;
}

.timestamp {
  font-size: 0.7rem;
  color: var(--muted-font-color);
  flex-grow: 0.5;
  margin: auto 0;
}

.setting {
  background-color: yellow;
}

.setting .select {
  border: 1px solid var(--header);
  background-color: var(--header);
  color: var(--hover);
  font-style: italic;
}

.setting .select:hover {
  border: 1px solid var(--hover);
}

.setting .select:focus {
  outline: none;
}
