.user-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(25, 25, 26);
}

.user-box .header {
  display: flex;
  width: 90%;
  padding: 1.5rem;
  border-bottom: 1px solid rgb(81, 83, 85);
}

.user-box .header .me img {
  width: 5.5rem;
  height: 5.5rem;
  border: 2px solid #00bfff;
  border-radius: 50%;
}

.user-box .header .me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 100%;
}

.user-box ul li {
  list-style-type: none;
}

.user-box ul li .list {
  display: flex;
  border: none;
  border-bottom: 1px solid rgb(40, 40, 41);
}

.user-box ul li .list:hover {
  cursor: pointer;
}

.avatar {
  display: flex;
  margin: auto 0;
  padding: 1rem;
  position: relative;
}

.avatar img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.avatar .active {
  border: 2px solid #00bfff;
}

.avatar .inactive {
  border: 2px solid rgb(160, 16, 16);
}
.avatar .online,
.offline {
  width: 1rem;
  height: 1rem;
  background-color: #00bfff;
  border-radius: 50%;
  position: absolute;
  left: 4rem;
}

.avatar .offline {
  background-color: rgb(160, 16, 16);
}

.users-list {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.username {
  color: rgb(175, 178, 180);
  margin: 0;
  padding: 0;
}

.text {
  font-size: 0.7rem;
  color: rgb(130, 131, 133);
  margin: auto 0;
}

.timestamp {
  font-size: 0.7rem;
  flex-grow: 0.5;
  margin: auto 0;
}
