#article {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
  width: 100%;
}

#article .proAvatar {
  margin: 0.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.right {
  flex-direction: row-reverse;
}

#article .message-box {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 12px;
}

#article .msg {
  margin: 0;
  margin-top: 0.1rem;
  padding: 0.5rem;
  max-width: 100%;
  box-shadow: 0.01rem 0.01rem 0.1rem 0px var(--message-shadow);
  word-wrap: break-word;
}

#article .message-box .msg-img {
  margin: 0.5rem;
  height: 90%;
  width: 40%;
  border-radius: 10px;
}

.left .message-box .msg {
  background-color: var(--message-friend-bg);
  border-radius: 0px 20px 20px 20px;
  color: var(--message-friend-color);
}

.right .message-box .msg {
  border: 1px solid var(--message-user-border);
  border-radius: 20px 0 20px 20px;
  color: var(--message-user-color);
}

#article .message-box .status {
  font-size: 0.6rem;
  padding: 0;
  margin: 0;
  align-self: center;
}

.messages #article video {
  width: 240px;
  height: 120px;
}
