.msg-compose {
  background-color: var(--app-screen-deeper);
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

.msg-compose textarea {
  flex-grow: 2;
  margin: 0 1rem;
  border: 1px solid var(--border-fixed);
  background-color: var(--app-screen);
  color: var(--font-color);
  border-radius: 20px;
  padding: 5px;
  height: 2.5rem;
}

.msg-compose textarea:focus {
  outline: none;
}

.msg-compose .btn {
  padding: 0;
  margin: 0;
  font-size: 25px;
  color: var(--hover);
  cursor: pointer;
}

.msg-compose .btn :hover {
  color: var(--hover);
}
