.msg-compose {
  background-color: rgb(25, 25, 26);
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

.msg-compose textarea {
  flex-grow: 2;
  margin: 0 1rem;
  border: 1px solid #00bfff;
  background-color: rgb(25, 25, 26);
  color: rgb(189, 189, 196);
  border-radius: 20px;
  padding: 5px;
  height: 2.5rem;
}

.msg-compose textarea:focus {
  outline: none;
}

.msg-compose i {
  font-size: 2rem;
  color: #00bfff;
  cursor: pointer;
}
