.search-container {
  display: flex;
  border: 1.5px solid #00bbff;
  color: #00bbff;
  border-radius: 30px;
  width: 8rem;
  height: 2.4rem;
  transition: all ease 500ms;
}

.search-container .search-text {
  border: none;
  outline: none;
  color: #00bbff;
  padding-right: 0.2rem;
  margin: 0.3rem;
  margin-left: 0.5rem;
  background-color: rgb(25, 25, 26);
  width: 100%;
}

.search-container .search-button {
  margin-left: auto;
  width: 2.5rem;
  height: 2.1rem;
  margin: 0.1rem;
  padding: 0.4rem;
  border-radius: 50%;
}

.search-button i {
  font-size: 100%;
}

.search-container:hover {
  width: 75%;
}
