@import url("https://fonts.googleapis.com/css?family=Lato");
/* :root {
  --full-screen: #f1f4f5;
  --app-screen: white;
  --app-screen-deeper: #2eb5f0;
  --app-screen-lighter: #edf0f6;
  --app-screen-header: white;
  --app-screen-shadow: #bbbcbe;

  --input-color: #2eb5f0;
  --button-hover: #8f9296;
  --pro-icon-color: #2eb5f0;
  --icon-color: #2eb5f0;
  --control-icon: white;
  --line: #61c4ee;
  --shadow: #1e8ebe;
  --spinner: #2eb5f0;
  --font-color: #1d2129;
  --muted-font-color: #73797c;
  --font-color-button: #e1e4e7;
  --font-color-input: #e1e4e7;
  --font-color-alternate: #090a0c;
  --font-color-alternate-1: #e1e4e7;

  --chatbox-bg: #edf0f3;
  --msg-compose-bg: whitesmoke;
  --message-user-border: white;
  --message-friend-bg: #2eb5f0;
  --message-friend-color: #eaf0f3;
  --message-user-color: #181c21;
  --message-shadow: #1e8ebe;

  --header-font-color: rgb(235, 232, 232);
  --img-border: #2eb5f0;

  --hover: #70c7ec;
  --error: #ff386c;
  --active: rgb(24, 218, 153);
  --in-active: #ff386c;
} */

:root {
  --full-screen: #e4ebef;
  --app-screen: #eef0f1;
  --app-screen-deeper: #101316;
  --app-screen-lighter: #dbdfe0;
  --app-screen-header: #1d2129;
  --app-screen-shadow: #77797c;

  --input-color: #101316;
  --pro-icon-color: #8f9296;
  --button-hover: #8f9296;
  --icon-color: #8f9296;
  --control-icon: #8f9296;
  --line: #101316;
  --shadow: black;
  --spinner: #8f9296;

  --font-color: #1d2129;
  --muted-font-color: #73797c;
  --font-color-button: #e1e4e7;
  --font-color-input: #e1e4e7;
  --font-color-alternate: #090a0c;
  --font-color-alternate-1: #1f8946;

  --chatbox-bg: #e1e4e7;
  --msg-compose-bg: whitesmoke;
  --message-user-border: #181c21;
  --message-friend-bg: #181c21;
  --message-friend-color: #8c9296;
  --message-user-color: #181c21;
  --message-shadow: rgb(133, 132, 132);

  --header-font-color: rgb(235, 232, 232);
  --img-border: black;

  --hover: #101316;
  --error: #ff386c;
  --active: rgb(24, 218, 153);
  --in-active: #ff386c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.full-screen {
  width: 100vw;
  height: 100vh;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: var(--font-color);

  background-color: var(--full-screen);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.app-screen {
  width: 800px;
  height: 100%;
  background-color: var(--app-screen);
  box-shadow: -0.1rem 0.1rem 0.1rem 0.1rem var(--app-screen-shadow);
  border-left: 3px solid var(--highlight);
  position: relative;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 800px) {
  .app-screen {
    width: 100%;
    height: 100%;
    background-color: var(--app-screen);
    box-shadow: 0.2rem 0.2rem 0.1rem 0px var(--app-screen-shadow);
    border-left: 3px solid var(--highlight);
    border-left: 3px solid var(--highlight);
    position: relative;
    display: flex;
    flex-direction: column;
  }
}

.notify {
  width: 240px;
  height: 50px;
  position: absolute;
  align-self: center;

  display: flex;
  align-items: center;
  padding: 0 5px 0 0;
  background-color: var(--app-screen);
  border-radius: 3px;
  box-shadow: 0.001rem 0.1rem 0.15rem 0px var(--shadow);
  z-index: 2;
  animation: notify 10s ease-in-out alternate;
}

@keyframes notify {
  0% {
    top: -50px;
  }
  5% {
    top: 0px;
  }
  95% {
    top: 0px;
  }
  100% {
    top: -50px;
  }
}

.notify:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 var(--shadow);
}

.notify .notify-userImage {
  border-radius: 5px 50% 50% 5px;
  margin: 0;
  box-shadow: 0.001rem 0.09rem 0.15rem 0px var(--shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: user-name 2s ease-in-out forwards;
}

@keyframes user-name {
  100% {
    background-color: var(--hover);
    color: var(--app-screen-deeper);
  }
}

.notify-userImage img {
  margin-left: 0.8rem;
  height: 3.1rem;
  width: 3.1rem;
  border: 1.5px solid var(--hover);
  border-radius: 50%;
}

.notify .notify-message {
  margin-left: 3px;
  margin-top: 7px;
  color: var(--font-color);
  align-self: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.notify #accept,
#reject {
  border-radius: 50%;
  padding: 0.5rem;
  margin: 0.3rem;
  background-color: var(--app-screen-deeper);
}

.notify #accept {
  margin-left: auto;
  color: var(--active);
  animation: shrink 3s ease-in-out infinite forwards;
}

.notify #reject {
  color: var(--in-active);
  animation: shrink 3s ease-in-out infinite forwards;
}

@keyframes shrink {
  5% {
    transform: rotate(20deg);
  }
  10% {
    transform: rotate(-20deg);
  }
  15% {
    transform: rotate(20deg);
  }
  20% {
    transform: rotate(-20deg);
  }
  25% {
    transform: rotate(20deg);
  }
  30% {
    transform: rotate(-20deg);
  }
  35% {
    transform: rotate(20deg);
  }
  40% {
    transform: rotate(-20deg);
  }
  45% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  55% {
    transform: rotate(20deg);
  }
  60% {
    transform: rotate(-20deg);
  }
  65% {
    transform: rotate(20deg);
  }
  70% {
    transform: rotate(-20deg);
  }
  75% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(-20deg);
  }
  85% {
    transform: rotate(20deg);
  }
  90% {
    transform: rotate(-20deg);
  }
  95% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

.notify #accept:hover,
#reject:hover {
  background-color: var(--app-screen);
}

.spinner {
  color: var(--spinner);
}
