@import url("https://fonts.googleapis.com/css?family=Open+Sans");
:root {
  --full-screen: #e4ebef;
  --app-screen: #f2f5f8;
  --app-screen-deeper: #e6f5fc;
  --header: #e6f5fc;
  --header-font-color: #26231f;
  --font-color: #4a575e;
  --muted-font-color: #73797c;
  --line: #76c8eb;
  --img-border: #c7d4da;
  --border: #f2f5f8;
  --border-fixed: #2eb5f0;
  --highlight: #2eb5f0;
  --hover: #2eb5f0;
  --unhover: #f2f5f8;
  --error: #ff386c;
  --shadow: #b9d2dd;
  --active: rgb(24, 218, 153);
  --in-active: #ff386c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.full-screen {
  width: 100vw;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: var(--font-color);

  background-color: var(--full-screen);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.app-screen {
  width: 800px;
  height: 100%;
  background-color: var(--app-screen);
  box-shadow: 0rem 0.2rem 0.3rem 0rem var(--font-color);
  border-left: 3px solid var(--highlight);
  position: relative;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 800px) {
  .app-screen {
    width: 100%;
    height: 100%;
    background-color: var(--app-screen);
    box-shadow: 0.01rem 0.01rem 0.01rem 0.1rem var(--shadow);
    border-left: 3px solid var(--highlight);
    border-left: 3px solid var(--highlight);
    position: relative;
    display: flex;
    flex-direction: column;
  }
}

.notify {
  width: 240px;
  height: 55px;
  position: absolute;
  align-self: center;

  display: flex;
  padding: 0 5px 0 0;
  background-color: var(--app-screen);
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 2;
  animation: notify 8s ease-in-out alternate;
}

@keyframes notify {
  0% {
    top: -55px;
  }
  10% {
    top: 0px;
  }
  90% {
    top: 0px;
  }
  100% {
    top: -55px;
  }
}

.notify .notify-userName {
  border-radius: 5px 50% 50% 5px;
  padding: 0 5px 0 2px;
  margin: 0;
  box-shadow: 0 2px 2px 0 gray;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: user-name 1s ease-in-out forwards;
}

@keyframes user-name {
  100% {
    background-color: var(--hover);
    color: var(--app-screen-deeper);
  }
}

.notify .notify-message {
  margin-left: 3px;
  margin-top: 7px;
  color: var(--hover);
  align-self: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.spinner {
  color: var(--highlight);
}
