.chat-screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 2;
  overflow-x: hidden;
  background-color: var(--chatbox-bg);
}

.write-area {
  align-self: flex-end;
}

::-webkit-scrollbar {
  width: 1%;
}

::-webkit-scrollbar-track {
  background: var(--app-screen);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--app-screen-shadow);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--hover);
}
